:root {
    --color-dark: #305E8E;
    --color-dark-x: #041E40;
    --color-dark-xx: #0B0F0D;
    --color-light: #ffffff;
    --color-light-x: #BCD7F5;
    --color-grey: #f5f6f8;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.bg-light {
    background-color: var(--color-grey)!important;
}

.bg-dark {
    background-color: var(--color-dark-xx)!important;
}


.p-6 {
    padding: 4rem 7rem;
}

.contact-box {
    padding: 3rem;
}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: var(--color-dark);
    border: none;
    min-width: 10rem;
}


.form-control {
    background-color: var(--color-dark-x);
    border: 2px solid var(--color-dark-x);
    color: var(--color-light-x);
    border-radius: .2rem;
    padding: .7rem 1rem;
}

.register-bg {
    background-image: url('/images/hero.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 90vh;
}

.link{
    color: var(--color-light-x);
    text-decoration: underline;
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) { 
    .register-bg {
        min-height: 50vh;
    }
}
